<template>
  <article class="ct-viewer col"
    v-bind:class="mainClasses">
      <div class="img-container">

        <picture-in-svg
          :viewer-id="viewer.id"
          :slice-id="selectedResult.sliceId"
          :image-index="viewer.id"
          :display-lines="displayLines"
          :can-zoom="true"
          :result="selectedResult"
          :view-box-percent="1" />

      </div>
      <div class="controls">
        <dropdown-text
          :control="{ content: viewer.name }"
          :chevron="viewer.active"
          :key="'image-name'" />
        <div v-if="viewer.active" class="controls-selected">
          <component v-for="(tool, index) in viewer.tools"
            :key="tool.key"
            :is="tool.type"
            :tool-id="index"
            :viewer-id="viewer.id"
            :control="tool" />
        </div>
      </div>
  </article>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import DropdownText from './DropdownText'
import IconControl from './IconControl'
import PictureInSvg from '../common/PictureInSvg'

export default {
  name: 'CtViewer',
  components: { DropdownText, IconControl, PictureInSvg },
  props: {
    viewerId: { type: Number, default: () => 0 },
    imageSrc: { type: String, default: () => null }
  },
  computed: {
    viewer () { return this.getViewer(this.viewerId) },
    image () { return this.getSliceImage(this.viewer.id) },

    hasLines () { return this.image.lines.length === 2 },
    zoomed () { return this.zoomFactor > 1 },

    storyInitial () { return this.storyIs('initial') },

    zoomFactor: {
      get () { return this.viewer.zoomFactor },
      set (factor) { this.viewer.zoomFactor = factor }
    },
    scrollV: {
      get () { return this.viewer.scrollV },
      set (scroll) { this.viewer.scrollV = scroll }
    },

    displayText () {
      return this.hasLines && !this.zoomed && this.viewer.id === 0
    },
    displayDialog () {
      return this.hasLines && !this.zoomed && false
    },
    displayLines () {
      return this.hasLines
    },

    controlRect () { return this.$refs.controlOverlayDiv.getBoundingClientRect() },

    mainClasses () {
      return {
        selected: this.viewer.active,
        four: !this.storyInitial,
        right: !this.storyInitial,
        two: this.storyInitial
      }
    },

    ...mapState({ selectedResult: state => state.selectedResult }),
    ...mapGetters(['storyIs', 'getViewer', 'getSliceImage'])
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

article
  background: #14151B
  color: #fff

  .controls
    background: #000

.img-container
  +d-flex($items: flex-end, $justify: center)
  background: #000
  border-bottom: none
  height: calc(100% - #{$control-height})
  overflow: hidden
  position: relative

  svg
    +media-font
    max-width: 100%
    max-height: 100%
    position: relative
    z-index: 9

.control-overlay
  position: absolute
  width: 100%
  height: 100%
  z-index: 10

.img-div
  width: 100%
  height: 100%
  background-position: center bottom
  background-repeat: no-repeat

.controls
  +d-flex
  +font-sans(.857rem)
  color: #8D91A0
  height: $control-height

  .dropdown-text,
  .icon-control
    +d-flex($items: center)
    border-left: .071rem solid rgba(255, 255, 255, .04)
    padding: 0 1.428rem

  &>.dropdown-text
    +flex(1)
  &>.icon-control
    +flex($width: 50%)

.controls-selected
  +d-flex($items: stretch, $justify: flex-end)
  +flex(1)
  +margin-padding
  height: $control-height
</style>
