<template>
  <p class="dropdown-text">
    <span>{{control.content || text}}</span>
    <chevron-down v-if="chevron" />
  </p>
</template>

<script>
import ChevronDown from '../icons/ChevronDown'

export default {
  name: 'DropdownText',
  components: { ChevronDown },
  props: {
    chevron: { type: Boolean, default: true },
    control: { type: Object },
    text: { type: String }
  }
}
</script>

<style lang="sass">
@import '../../styles/vars'
.dropdown-text
  cursor: pointer

.chevron-down
  height: .571rem
  margin-left: .357rem

  .fill
    fill: #8D91A0
</style>
