<template>
  <div class="icon-control"
    @click="() => toggleViewerTool({ toolId, viewerId })">
      <component
        :is="control.content"
        :color="this.$store.state.colors.icon[(control.active) ? 'toggled' : 'default']" />
  </div>
</template>

<script>
export default {
  name: 'IconControl',
  components: require('../icons/index.js'),
  props: {
    control: { type: Object },
    toolId: { type: Number },
    viewerId: { type: Number }
  },
  methods: {
    toggleViewerTool (params) {
      this.$store.commit('toggleViewerTool', params)
    }
  }
}
</script>

<style lang="sass">
.icon-control
  &>*
    cursor: pointer
</style>
