<template>
  <article id="initial-viewer" class="col two">
    <div class="image-container">
      <img src="/static/initial/T4.jpg" alt="">
    </div>
    <div class="text-container">
      <p>
        SUV max 8.81%<br>
        0003_ct_soft_coronal
      </p>
    </div>
  </article>
</template>

<script>

export default {
  name: 'InitialViewer'
}
</script>

<style lang="sass">
@import '../../styles/vars'

#initial-viewer
  +d-flex($direction: column, $items: stretch, $justify: flex-end)
  width: calc((100vw - #{$side-bar-width}) * .4)
  background: #000
  border-left: .071rem solid rgba(255, 255, 255, .04)
  color: #8D91A0

  .image-container
    +d-flex($justify: center)

  .text-container
    padding-left: 1.928rem
    +d-flex($justify: flex-start, $items: center)
    +flex($width: 6.214rem)
  p
    line-height: 1.285rem

  img
    display: block
    max-width: 88%
    max-height: 90%
</style>
