<template>
  <article id="lung-map" class="col two">
    <div class="image-container">
      <img src="/static/lungMap.svg" alt="">
    </div>
    <div class="charts">

    </div>
  </article>
</template>

<script>
export default {
  name: 'LungMap'
}
</script>

<style lang="sass">
@import '../../styles/vars'

#lung-map
  +d-flex($direction: column)
  width: calc((100vw - #{$side-bar-width}) * .6)
  padding-right: 3.071rem
  padding-left: 3.071rem

  .image-container
    +flex(1)
    +d-flex($justify: center, $content: center)

  .charts
    +flex($width: 19.42rem)
    border-top: .071rem solid rgba(255,255,255,0.06)

  img
    max-width: 100%
</style>
