<template>
  <main id="main-editor">
    <lung-map
      v-if="storyIs('initial')" />
    <initial-viewer
      v-if="storyIs('initial')" />
    <ct-viewer
      v-else
      v-for="viewer in this.$store.state.ctViewers"
      :key="viewer.id"
      :viewer-id="viewer.id" />
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import CtViewer from './CtViewer'
import InitialViewer from './InitialViewer'
import LungMap from './LungMap'

export default {
  name: 'MainEditor',
  components: { CtViewer, InitialViewer, LungMap },
  computed: mapGetters(['storyIs'])
}
</script>

<style lang="sass">
@import '../../styles/vars'

.ct-viewer
  .img-container
    border: .071rem solid #14151B

.col
  &.four
    +flex($width: 50%)
    height: calc((100vw - #{$side-bar-width})/2)
    width: calc((100vw - #{$side-bar-width})/2)
    max-height: 50vh
    max-width: calc((100vw - #{$side-bar-width})/2)

    &:first-child,
    &:nth-child(2)
      .controls
        border-bottom: .071rem solid #404040
    &:first-child,
    &:nth-child(3)
      .controls,
      .img-container
        border-right: .071rem solid #404040

    &.selected
      .img-container,
      .controls
        border-left: .071rem solid #54C3E8
        border-right: .071rem solid #54C3E8

      .img-container
        border-top: .071rem solid #54C3E8

      .controls
        background: #14151B
        border-bottom: .071rem solid #54C3E8

    &.right
      +flex($width: 50%)
      height: calc((100vw - #{$side-bar-width} - #{$right-bar-width})/2)
      width: calc((100vw - #{$side-bar-width} - #{$right-bar-width})/2)
      max-width: calc((100vw - #{$side-bar-width} - #{$right-bar-width})/2)
      max-height: 50vh

  &.two
    +flex($width: 45%)
    &:first-child
      +flex($width: 55%)
    max-height: 100vh

  &.one
    +flex($width: 100%)
    max-height: 100vh
</style>

<style lang="sass" scoped>
@import '../../styles/mixins'

main
  +d-flex($content: flex-start, $wrap: wrap)
  max-height: 100vh
  background: #14151B
</style>
