=margin-padding($margin: 0, $padding: 0)
  margin: $margin
  padding: $padding


=height-and-width($height: 100vh, $width: 100vw)
  height: $height
  width: $width

=max-height-and-width($height: 100vh, $width: 100vw)
  max-height: $height
  max-width: $width

=min-height-and-width($height: 100vh, $width: 100vw)
  min-height: $height
  min-width: $width

=font-sans($size: false, $weight: false, $name: 'Roboto', $line: false, $align: false)
  font-family: $name
  @if $size
    font-size: $size
  @if $weight
    font-weight: $weight
  @if $line
    line-height: $line
  @if $align
    text-align: $align

=d-flex($direction: false, $content: false, $items: false, $justify: false, $wrap: false)
  display: flex

  @if $direction
    flex-direction: $direction
  @if $content
    align-content: $content
  @if $items
    align-items: $items
  @if $justify
    justify-content: $justify
  @if $wrap
    flex-wrap: $wrap

=flex($grow: 0, $shrink: 0, $width: auto, $self: false, $order: false)
  flex: $grow $shrink $width
  @if $self
    align-self: $self
  @if $order
    order: $order


=media-font
  @media screen and (max-width: 1024px)
    font-size: 9px

  @media screen and (min-width: 1025px) and (max-width: 1366px)
    font-size: 11px

  @media screen and (min-width: 1367px) and  (max-width: 1440px)
    font-size: 12px

  @media screen and (min-width: 1441px) and (max-width: 1600px)
    font-size: 12px

  @media screen and (min-width: 1601px)
    font-size: 14px
