@import 'vars'

html
  +media-font

html,
body
  +min-height-and-width
  +margin-padding
  background-color: #181b22
  box-sizing: border-box
  font-family: 'Roboto'
  font-weight: 400

*,
*::before,
*::after
  box-sizing: inherit

#app
  +height-and-width
  +max-height-and-width
  +font-sans
  color: #000

#layout
  +d-flex($content: stretch, $items: stretch)
  +height-and-width
  +max-height-and-width
  background: #18191F
  background: linear-gradient(0deg, #18191F 0%, #282A37 100%)

#side-bar
  +d-flex($direction: column, $items: stretch)
  +flex($width: $side-bar-width)
  +margin-padding
  height: 100vh
  max-height: 100vh

  #menu-bar
    +flex
    height: 3.571rem

  #patient-info
    +flex
    width: 90%

  .results
    +flex(1, 1)
    +margin-padding(0 $sidebar-padding-left, 0)
    overflow-y: hidden
    -ms-overflow-style: -ms-autohiding-scrollbar

    &:hover
      overflow-y: auto

  #export-button
    +flex($self: flex-end)
    width: 100%

#main-editor
  +flex(1, 1)

#right-bar
  +flex($width: $right-bar-width)
  max-width: $right-bar-width

