<template>
  <div id="layout">
    <side-bar />
    <main-editor />
    <right-bar v-if="this.$store.getters.storyIsNot('initial')" />
  </div>
</template>

<script>
import SideBar from './SideBar/SideBar'
import MainEditor from './MainEditor/MainEditor'
import RightBar from './RightBar/RightBar'

export default {
  name: 'Layout',
  components: { SideBar, MainEditor, RightBar }
}
</script>
