<template>
  <div id="export-button">
    <div>
      <export-icon />
      <span>
        {{$tc('sideBar.exportReport')}}
      </span>
    </div>
  </div>
</template>

<script>
import ExportIcon from '../icons/ExportIcon'

export default {
  name: 'ExportButton',
  components: { ExportIcon }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

#export-button
  +d-flex($items: center, $justify: center)
  +margin-padding
  align-self: flex-end
  background: #14151B
  box-shadow: 0 .142rem .714rem 0 #000000
  border-top: .071rem solid #222e3b
  height: 5rem

  div
    +d-flex($content: center, $items: center, $justify: center)
    +font-sans(.928rem, 400, $line: .928rem)
    color: #E1E2E6;
    background: #383D4F
    border-radius: .285rem
    height: 2.857rem
    padding: .357rem
    width: 90%
    cursor: pointer

    img,
    span
      display: block

.export-icon
  +margin-padding(0 1.428rem 0, 0)
  width: 1.142rem

</style>
