<template>
  <div class="menu-options">
    <div class="group" @click="toggleMenu()">
      {{$tc('sideBar.menu.' + group.name)}}
    </div>
    <ul v-bind:class="{ options: true, open: open}">
      <li
        v-for="(option, index) in group.options"
        :key="index"
        @click="() => { toggleMenu(option.mutation, option.parameter, option.changeThis) }">
        {{$tc(`sideBar.menuOptions.${group.name}.${option.name}`)}}
      </li>
    </ul>
  </div>
</template>

<script>
import { merge, get } from 'lodash'

export default {
  name: 'MenuOptions',
  props: {
    group: { type: Object }
  },
  data () {
    return { open: false }
  },
  methods: {
    toggleMenu (mutation = null, parameter = null, changeThis = null) {
      this.open = !this.open
      if (mutation && parameter) {
        this.$store.commit(mutation, parameter)
      }
      if (mutation && !parameter) {
        this.$store.commit(mutation)
      }
      if (changeThis) {
        merge(get(this, changeThis.path.join('.')), changeThis.value)
      }
    }
  }
}
</script>

<style lang="sass">
@import '../../styles/vars'

.menu-options
  .group
    cursor: pointer

  .options
    +margin-padding(0 0 0 -1.428rem, 0)
    display: none
    list-style: none
    top: 0

    &.open
      background: #282A37
      display: block
      position: absolute
      top: 3.571rem
      width: 7.14rem

    li
      +margin-padding(0, .714rem 1.428rem)
      cursor: pointer

</style>
