<template>
  <nav id="menu-bar">
    <menu-options
      v-for="(group, index) in this.$store.state.menuGroups"
      :key="index"
      :group="group"/>
  </nav>
</template>

<script>
import MenuOptions from './MenuOptions'

export default {
  name: 'MenuBar',
  components: { MenuOptions }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

#menu-bar
  +d-flex($items: center)
  border-bottom: .071rem solid rgba(255, 255, 255, .08)
  color: #DADCE1
  height: 3.571rem
  padding-left: $sidebar-padding-left

  div
    +font-sans(.928rem, 500)
    color: #DADCE1
    display: block
    margin: 0 1.714rem 0 0
    padding-left: 0
    text-decoration: none
</style>
