<template>
  <article
    id="patient-info"
    :class="{ selected: storyIs('initial') }"
    @click="setStoryState('initial')">
    <header>
      <h1>{{patientData.preName}} {{patientData.name}}</h1>
      <p>
        <span>{{patientData.birthDate}}</span>
        <span>|</span>
        <span>{{$tc('sideBar.patientNo')}} {{patientData.id}}</span>
      </p>
      <p>{{patientData.examination.type}} {{patientData.examination.date}} ({{$tc('sideBar.serie', patientData.examination.series, { count: patientData.examination.series })}})</p>
    </header>
    <div class="calculateing"
      v-if="this.$store.state.calculateing">
      <waiting-icon />
      <p>TNM wird neu berechnet</p>
    </div>
    <table v-else>
      <thead>
        <tr>
          <th class="first">
            <span>Staging</span>
            <span v-if="patientData.examination.adapted" class="adapted">{{$tc('adapted')}}</span>
          </th>
          <th>{{$tc('stadium')}}</th>
          <th>{{$tc('confidence')}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span
              v-for="(stagePart, index) in patientData.examination.staging"
              :key="index">
              {{stagePart}}

            </span>
          </td>
          <td>{{patientData.examination.stage}}</td>
          <td>{{patientData.examination.confidence}}%</td>
        </tr>
      </tbody>
    </table>
  </article>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import WaitingIcon from '../icons/WaitingIcon'

export default {
  name: 'PatientInfo',
  components: { WaitingIcon },
  methods: mapMutations(['setStoryState']),
  computed: {
    ...mapGetters(['patientData', 'storyIs'])
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

article
  +margin-padding(1.428rem auto, 1.428rem 0 1.428rem 1.785rem)
  background: #14151B
  border: .0714rem solid #2D303E
  border-radius: .285rem
  max-height: 13.92rem
  cursor: pointer

  &.selected
    background: rgba(68, 187, 231, 0.10)
    border: .0714rem solid #44BBE7
    cursor: default

    header
      border-bottom-color: #273746

header
  +font-sans(1.071rem)
  +margin-padding(0, 0 0 .714rem 0)
  border-bottom: .0714rem solid rgba(255, 255, 255, .08)
  color: #DADCE1

h1
  +font-sans(1.071rem, 500, $line: 1.285rem)
  +margin-padding(0 0 .714rem, 0)
  color: #DADCE1

p
  +font-sans(.928rem, 400, $line: 1.428rem)
  +margin-padding(0 0 .2142rem, 0)
  color: #8D91A0

  span
    margin-right: .3571rem

.calculateing
  +d-flex($items: center, $justify: flex-end, $direction: column)
  height: 5.57rem
  max-width: 100%
  padding-right: 1.785rem

  svg
    width: 1.857rem
    height: 1.857rem
    margin-bottom: .571rem

  p
   +font-sans(.928rem, $line: 1.428rem)
   color: #FFFFFF

table
  margin: .571rem 0 0 0
  width: 100%

th
  +font-sans(.928rem, 500, $line: 1.428rem, $align: left)
  color: #8D91A0
  padding: 0

  &.first
    width: 50%

  .adapted
    +font-sans(.714rem, $line: .857rem)
    display: inline-block
    padding: .1428rem .3571rem
    margin-left: .714rem
    border: .0714rem solid #FB355D
    border-radius: .285rem
    color: #FB355D

td
  +font-sans(1.857rem, 500, $line: 2.571rem)
  color: #DADCE1
  padding: 0

  span
    margin-right: .5rem
</style>
