<template>
  <h2>{{title}} ({{count}})</h2>
</template>

<script>
export default {
  name: 'SectionTitle',
  props: {
    title: {
      type: String,
      default: 'Titel'
    },
    count: {
      type: Number,
      default () { return 0 }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

h2
  +font-sans(1.071rem, 400)
  +margin-padding(.714rem 0, 0)
  color: #E1E2E6
</style>
