<template>
  <div id="side-bar">
    <menu-bar />
    <patient-info />
    <section class="results">
      <div>
        <section-title
          :title="$tc('primaryTumor', primaryTumors.length)"
          :count="primaryTumors.length"/>
        <staging-result-selector
          v-for="(result, index) in primaryTumors"
          :key="index + 'primary'"
          :result="result" />
        <p v-if="primaryTumors.length < 1" class="no-results">
          {{$tc('sideBar.noPrimaryFound')}}
        </p>
      </div>

      <div>
        <section-title
          :title="$tc('lymphNode', lymphNodes.length)"
          :count="lymphNodes.length"/>
        <staging-result-selector
          v-for="(result, index) in lymphNodes"
          :key="index + 'lymph'"
          :result="result" />
        <p v-if="lymphNodes.length < 1" class="no-results">
          {{$tc('sideBar.noLymphNodeFound')}}
        </p>
      </div>

      <div>
        <section-title
          :title="$tc('metastasis', metastases.length)"
          :count="metastases.length"/>
        <staging-result-selector
          v-for="(result, index) in metastases"
          :key="index + 'metastasis'"
          :result="result" />
        <p v-if="metastases.length < 1" class="no-results">
          {{$tc('sideBar.noMetastasisFound')}}
        </p>
      </div>
    </section>
    <export-button/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import MenuBar from './MenuBar'
import PatientInfo from './PatientInfo'
import StagingResultSelector from './StagingResultSelector'
import SectionTitle from './SectionTitle'
import ExportButton from './ExportButton'

export default {
  name: 'SideBar',
  components: { MenuBar, PatientInfo, StagingResultSelector, SectionTitle, ExportButton },
  computed: mapGetters(['primaryTumors', 'lymphNodes', 'metastases'])
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'
// Local Rules
#side-bar
  background: #18191F
  background-image: linear-gradient(0deg, #18191F 0%, #282A37 100%)
  box-shadow: 0 .142rem .285rem 0 #000000

.results
  div
    margin-bottom: .714rem

    &:last-child
      margin-bottom: .714rem

  .no-results
    color: #757B8C
    +font-sans(.928rem, 400)
    line-height: .857rem
    margin-top: 1.428rem
    opacity: .7
</style>
