<template>
  <article
    class="staging-result-selector"
    v-bind:class="{ selected: result.selected }"
    @click="selectResult(result.id)">

    <div class="image-container">
      <picture-in-svg
        :slice-id="result.sliceId"
        :view-box-percent="0.18"
        :result="getResultBySliceId(result.sliceId)"
        :display-circle="true" />
    </div>
    <div class="text-container">
      <div class="header">
        <h2>{{$tc('category')}} {{this.$store.state.features.resultCategories.opts[result.category].text}}</h2>
        <p v-if="result.new" class="new">{{$tc('new')}}</p>
      </div>
      <p>{{this.$store.state.features.resultSubCategories.opts[result.subCategory].text}}</p>
      <p>
        <span>LA {{result.la}} mm</span>
        <span>KA {{result.ka}} mm</span>
      </p>
      <p v-if="result.description">{{result.description}}</p>
    </div>
  </article>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PictureInSvg from '../common/PictureInSvg'

export default {
  name: 'StagingResultSelector',
  components: { PictureInSvg },
  props: {
    result: { type: Object }
  },
  methods: mapActions(['selectResult']),
  computed: mapGetters(['getSlice', 'getResultBySliceId'])
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

article
  +d-flex($items: center)
  background: #14151B
  border: .071rem solid #2D303E
  border-radius: .285rem
  color: #8D91A0
  line-height: .857rem
  margin-bottom: .357rem
  max-height: 9.285rem
  padding: 1.785rem 1.071rem
  cursor: pointer

  &:last-child
    margin-bottom: 1.428rem

  div
    margin-left: 1.428rem

  &.selected
    background-color: #273746
    border-color: #76b9e3
    cursor: default

.image-container
  width: 7.142rem

  svg
    max-height: 7.142rem
    max-width: 7.142rem
.text-container
  width: 100%

.header
  +d-flex($items: baseline)
  margin: 0 0 1.071rem

.new
  +font-sans(.785rem, $line: .857rem)
  border: .071rem solid #FB355D
  padding:  .285rem .571rem .214rem .571rem
  border-radius: .285rem
  margin-left: 1.071rem
  color: #FB355D

h2
  +font-sans(1.071rem, $weight: bold)
  color: #8D91A0

p
  +font-sans(.928rem, $line: .857rem)
  color: #8D91A0
  margin: .571rem 0 0

  span
    &:first-child
      margin-right: 1.428rem
</style>
