<template>
  <g>
    <path :d="pathsCoords" :stroke="color" :stroke-width="width * zoom"></path>
    <circle :cx="startX" :cy="startY" :r="radius * zoom" :fill="color"></circle>
    <circle :cx="endX" :cy="endY" :r="radius * zoom" :fill="color"></circle>
  </g>
</template>

<script>
export default {
  name: 'LineWithDots',
  props: {
    color: { type: String, default: () => '#FB355D' },
    line: {
      type: Object,
      default: () => ({ start: { cx: 3, cy: 36 }, end: { cx: 56, cy: 65 } })
    },
    radius: { type: Number, default: () => 2.5 },
    width: { type: Number, default: () => 2 },
    trans: { type: Array, default: () => [0, 0] },
    zoom: { type: Number, default: () => 1 }
  },
  computed: {
    startX () { return (this.$props.line.start.cx + this.$props.trans[0]) * this.$props.zoom },
    startY () { return (this.$props.line.start.cy + this.$props.trans[1]) * this.$props.zoom },
    endX () { return (this.$props.line.end.cx + this.$props.trans[0]) * this.$props.zoom },
    endY () { return (this.$props.line.end.cy + this.$props.trans[1]) * this.$props.zoom },
    pathsCoords () {
      return `M${this.startX},${this.startY} L${this.endX},${this.endY}`
    }
  }
}
</script>

<style lang="sass" scoped>
circle
  fill-rule: evenodd
</style>
