<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      :width="`${svgWidth/14}rem`"
      :height="`${svgHeight/14}rem`"
      :viewBox="`0 0 ${svgWidth} ${svgHeight}`"
      ref="svgElement">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

      <rect x="0" y="0" fill="transparent"
        :width="svgWidth"
        :height="svgHeight"
        ref="measureRect" />

      <image
        :x="imageX"
        :y="imageY"
        :width="imageWidth"
        :height="imageHeight"
        :xlink:href="image.src" />

      <line-with-dots
        v-if="!displayCircle"
        v-for="(line, index) in lines"
        :key="index"
        :color="lineColor"
        :trans="shiftTranslate"
        :line="line"
        :zoom="zoomFactor"
        :radius="3" />

      <svg-text-display
        v-if="displayText"
        :color="lineColor"
        :x="textX"
        :y="textY"
        :trans="shiftTranslate"
        :zoom="zoomFactor"
        :text="text" />

      <svg-circle
        v-if="displayCircle"
        :color="color"
        :trans="image.translate"
        :x="circleX"
        :y="circleY"
        :radius="circleRadius" />

      <rect x="0" y="0" fill="transparent"
        v-if="!storyScrolled && !lupe.active && !arrows.active"
        :width="svgWidth"
        :height="svgHeight"
        ref="scrollRect"
        @wheel="scrollWeelSliceHandler"  />

      <rect x="0" y="0" fill="transparent"
        v-if="storyScrolled && !lupe.active && !arrows.active"
        :width="svgWidth"
        :height="svgHeight"
        @click.self="drawHandler"
        @mousemove.self="drawHandler"
        class="draw-handler-rect"
        ref="clickRect" />

      <rect x="0" y="0" fill="transparent"
        v-if="lupe.active"
        :width="svgWidth"
        :height="svgHeight"
        ref="magnifyRect"
        class="magnify-handler-rect"
        @wheel.self="scrollMagnifyHandler"  />

      <rect x="0" y="0" fill="transparent"
        v-if="arrows.active && zoomed"
        :width="svgWidth"
        :height="svgHeight"
        ref="shiftRect"
        class="shift-handler-rect"
        @click.self="shiftingHandler"
        @mousemove.self="shiftingHandler" />

      <svg-dialog
        v-if="displayDialog"
        :trans="shiftTranslate"
        :pass-handler="submitMetastasis"
        :x="dialogX"
        :y="dialogY" />
    </g>
  </svg>
</template>

<script>
import { mapGetters, mapMutations, mapState, mapActions } from 'vuex'
import { cloneDeep, last, get } from 'lodash'

import LineWithDots from './LineWithDots'
import SvgDialog from './SvgDialog'
import SvgTextDisplay from './SvgTextDisplay'
import SvgCircle from './SvgCircle'

export default {
  name: 'PictureInSvg',
  components: { LineWithDots, SvgDialog, SvgTextDisplay, SvgCircle },
  props: {
    viewerId: { type: Number, default: () => 0 },
    sliceId: { type: String },
    imageIndex: { type: Number, default: () => 0 },
    color: { type: String, default: () => '#FB355D' },
    result: { type: Object, default: () => null },
    viewBoxPercent: { type: Number, default: () => 1 },
    canZoom: { type: Boolean, default: () => false },
    displayCircle: { type: Boolean, default: () => false },
    displayLines: { type: Boolean, default: () => false }
  },
  data () {
    return {
      draw: {
        on: false,
        index: 0,
        dialogClicked: false,
        started: false
      },
      shift: {
        shifting: false,
        start: { x: 0, y: 0 },
        moove: { x: 0, y: 0 },
        originalShift: { x: 0, y: 0 }
      }
    }
  },
  methods: {
    submitMetastasis () {
      this.setNewMarkedResultActive()
    },
    drawHandler ({ offsetX, offsetY, type }) {
      const [cx, cy] = [this.mouseX(offsetX), this.mouseY(offsetY)]
      if (type === 'click') {
        if (!this.draw.on) {
          return this.startLine(cx, cy)
        }
        this.lines = { end: { cx, cy } }
        this.draw.on = false
        return
      }
      if (!this.draw.on) { return }
      this.lines = { end: { cx, cy } }
      Object.assign(last(this.imageTwo.lines).end, { cx: cx - 1.1, cy: cy - 1.1 })
    },
    startLine (cx, cy) {
      this.image.drawing = true
      this.draw.on = true
      this.draw.index = (this.draw.index !== 1) ? 0 : 1
      if (this.lines.length > 1) {
        this.lines.length = 0
        this.imageTwo.lines = []
        this.imageFour.lines = []
      }
      this.lines = { start: { cx, cy }, end: { cx, cy } }
      this.imageTwo.lines.push({
        start: { cx: cx - 1.1, cy: cy - 1.1 },
        end: { cx: cx - 1.1, cy: cy - 1.1 }
      })
    },

    scrollWeelSliceHandler (event) {
      this.scrollV = event.deltaY
      if (this.scrollV > 50 || this.scrollV < 50) {
        this.scrollV = 0
        this.switchToScrolledStoryState()
      }
    },

    scrollMagnifyHandler (event) {
      this.scrollV = event.deltaY
      if (this.scrollV > 40) {
        this.zoomFactor = this.scrollV / 40
        return
      }
      if (this.scrollV < 0) {
        this.scrollV = this.scrollV * -1
      }
      this.zoomFactor = 1
    },

    shiftingHandler ({ offsetX, offsetY, type }) {
      const { shifting, start, moove, originalShift } = this.shift
      const imageShift = this.viewer.imageShift
      if (type === 'click') {
        if (shifting) {
          this.shift.shifting = false
          return
        }
        Object.assign(this.shift, {
          originalShift: cloneDeep(imageShift),
          shifting: true,
          start: { x: offsetX, y: offsetY },
          moove: { x: 0, y: 0 }
        })
      }
      if (!shifting) { return }
      Object.assign(moove, {
        x: offsetX - start.x,
        y: offsetY - start.y
      })
      Object.assign(imageShift, {
        x: moove.x + originalShift.x,
        y: moove.y + originalShift.y
      })
    },

    mouseX (xCoord) { return (xCoord - this.xMouseGap) * this.xFactor },
    mouseY (yCoord) { return (yCoord - this.yMouseGap) * this.yFactor },
    mapViewBoxScale ({ start, end }) {
      const f = this.viewBoxPercent
      return {
        start: { cx: start.cx * f, cy: start.cy * f },
        end: { cx: end.cx * f, cy: end.cy * f }
      }
    },
    shiftValueOrOverlap (shiftValue, zoomOverlap) {
      if (shiftValue > zoomOverlap) { return zoomOverlap }
      if (shiftValue < (zoomOverlap * -1)) { return zoomOverlap * -1 }
      return shiftValue
    },
    ...mapMutations(['updateResultsLine']),
    ...mapActions(['switchToScrolledStoryState', 'setNewMarkedResultActive'])
  },
  computed: {
    // Calculating proportional mouse coordinates in svg
    clickRectBounding () { return this.$refs.measureRect.getBoundingClientRect() },
    svgElementBounding () { return this.$refs.svgElement.getBoundingClientRect() },
    xFactor () { return this.svgWidth / this.clickRectBounding.width },
    xMouseGap () { return (this.svgElementBounding.width - this.clickRectBounding.width) / 2 },
    yFactor () { return this.svgHeight / this.clickRectBounding.height },
    yMouseGap () { return (this.svgElementBounding.height - this.clickRectBounding.height) / 2 },

    slice () { return this.getSlice(this.sliceId) },
    image () { return get(this.slice, `images[${this.imageIndex}]`, null) },
    imageTwo () { return get(this.slice, `images[${1}]`, null) },
    imageThree () { return get(this.slice, `images[${2}]`, null) },
    imageFour () { return get(this.slice, `images[${3}]`, null) },

    lines: {
      get () { return this.image.lines },
      set ({ start = null, end }) {
        if (start) {
          this.image.lines.push({ start, end })
        }
        Object.assign(last(this.image.lines).end, end)
      }
    },

    viewer () { return this.getViewer(this.viewerId) },
    arrows () { return this.viewer.tools[1] },
    lupe () { return this.viewer.tools[2] },
    zoom () { return (this.viewerId === 0 && this.getTool(this.viewerId, 'lupe').active) },
    zoomed () { return (this.zoomFactor > 1) },
    hasLines () {
      return this.lines.length === 2
    },

    displayText () { return !this.displayCircle && this.viewer.id === 0 && this.hasLines && !this.image.drawing },

    displayDialog () {
      return this.storyScrolled && this.image.drawing && this.hasLines
    },
    lineColor () {
      if (this.storyScrolled && this.image.drawing) return '#FFBB00'
      return this.color
    },

    storyInitial () { return this.storyIs('initial') },
    storyScrolled () { return this.storyIs('scrolled') },

    scrollV: {
      get () { return this.viewer.scrollV },
      set (scroll) { this.viewer.scrollV += scroll }
    },
    zoomFactor: {
      get () {
        return (this.canZoom) ? this.viewer.zoomFactor : 1
      },
      set (factor) { this.viewer.zoomFactor = factor }
    },

    calculateArea () {
      return this.displayText || this.displayCircle || this.displayDialog
    },
    svgWidth () { return this.image.viewBoxWidth * this.viewBoxPercent },
    svgHeight () { return this.image.viewBoxWidth * this.viewBoxPercent },
    imageWidth () {
      return this.image.width * this.viewBoxPercent * this.zoomFactor
    },
    imageHeight () {
      return this.image.height * this.viewBoxPercent * this.zoomFactor
    },

    shiftImageX () {
      const { imageShift: { x } } = this.viewer
      if (!this.zoomed || x === 0) { return 0 }
      const shiftValue = this.xFactor * x
      return this.shiftValueOrOverlap(shiftValue, this.imageWidth - this.svgWidth)
    },
    imageX () {
      return this.image.x * this.viewBoxPercent * this.zoomFactor + this.shiftImageX
    },

    shiftImageY () {
      const { imageShift: { y } } = this.viewer
      if (!this.zoomed || y === 0) { return 0 }
      const shiftValue = this.yFactor * y
      return this.shiftValueOrOverlap(shiftValue, this.imageHeight - this.svgHeight)
    },
    imageY () {
      return this.image.y * this.viewBoxPercent * this.zoomFactor + this.shiftImageY
    },

    shiftTranslate () {
      const [x, y] = this.image.translate
      return [x + this.shiftImageX / 2, y + this.shiftImageY / 2]
    },
    lineA () {
      if (!this.hasLines) { return {} }
      if (!this.calculateArea) { return this.lines[0] }
      return this.mapViewBoxScale(this.lines[0])
    },
    lineB () {
      if (!this.hasLines) { return {} }
      if (!this.calculateArea) { return this.lines[1] }
      return this.mapViewBoxScale(this.lines[1])
    },

    ...mapState({
      selectedResult: state => state.selectedResult
    }),
    ...mapGetters(['getViewer', 'getTool', 'storyIs', 'getSlice'])
  },
  asyncComputed: {
    minX: {
      lazy: true,
      get () {
        if (!this.lineA.start) { return 0 }
        return Math.min(...[this.lineA.start.cx, this.lineA.end.cx, this.lineB.start.cx, this.lineB.end.cx])
      }
    },
    maxX: {
      lazy: true,
      get () {
        if (!this.lineA.start) { return 0 }
        return Math.max(...[this.lineA.start.cx, this.lineA.end.cx, this.lineB.start.cx, this.lineB.end.cx])
      }
    },
    minY: {
      lazy: true,
      get () {
        if (!this.lineA.start) { return 0 }
        return Math.min(...[this.lineA.start.cy, this.lineA.end.cy, this.lineB.start.cy, this.lineB.end.cy])
      }
    },
    maxY: {
      lazy: true,
      get () {
        if (!this.lineA.start) { return 0 }
        return Math.max(...[this.lineA.start.cy, this.lineA.end.cy, this.lineB.start.cy, this.lineB.end.cy])
      }
    },

    textX: {
      lazy: true, get () { return this.maxX + 8 }
    },
    textY: {
      lazy: true, get () { return this.minY + 2 }
    },
    dialogX: {
      lazy: true, get () { return this.maxX + 10 }
    },
    dialogY: { lazy: true, get () { return this.maxY - 10 }
    },
    circleX: {
      lazy: true, get () { return this.minX + ((this.maxX - this.minX) / 2) }
    },
    circleY: {
      lazy: true, get () { return this.minY + ((this.maxY - this.minY) / 2) }
    },
    circleRadius: {
      lazy: true, get () { return (this.maxX - this.minX) / 2 }
    },
    text: {
      lazy: true, get () { return `LA ${this.result.la} KA ${this.result.ka}` }
    }
  }
}
</script>

<style lang="sass">
.draw-handler-rect
  cursor: crosshair

.magnify-handler-rect
  cursor: zoom-in

.shift-handler-rect
  cursor: move
</style>
