<template>
  <g :stroke="color"
     :stroke-width="width">
    <circle :cx="x + trans[0] / 4" :cy="y + trans[1] / 4" :r="radius"/>
  </g>
</template>

<script>
export default {
  name: 'SvgCircle',
  props: {
    color: { type: String, default: () => '#FB355D' },
    x: { type: Number, default: () => 0 },
    y: { type: Number, default: () => 0 },
    radius: { type: Number, default: () => 0 },
    width: { type: Number, default: () => 2 },
    trans: { type: Array, default: () => [0, 0] }
  }
}
</script>
