<template>
  <g :transform="transform" @click="passHandler" class="svg-dialog">
    <rect :fill="background" x="0" y="0" width="190" height="30" rx="8" />
    <path d="M158.5,0.5 L158.5,29.5200005" :stroke="foreground" stroke-linecap="square"></path>
    <polygon :fill="foreground" points="178,14.5 177,13.5 174,14.5 171,13.5 170,14.5 174,17.5"/>
    <text :fill="foreground">
      <tspan x="9" y="20">{{text}}</tspan>
    </text>
  </g>
</template>

<script>
export default {
  name: 'SvgDialog',
  props: {
    background: { type: String, default: () => '#FFBB00' },
    foreground: { type: String, default: () => '#14151B' },
    text: { type: String, default: () => 'Metastase hinzufügen' },
    x: { type: Number, default: () => 0 },
    y: { type: Number, default: () => 0 },
    trans: { type: Array, default: () => [0, 0] },
    zoom: { type: Number, default: () => 1 },
    passHandler: { type: Function, default: () => () => {} }
  },
  computed: {
    transform () {
      return `translate(${this.x + this.trans[0]}, ${this.y + this.trans[1]})`
    }
  }
}
</script>

<style lang="sass">
@import '../../styles/vars'

.svg-dialog
  enable-background: new 0 0 190 31
  cursor: pointer

  path
    opacity: .1

  text
    +font-sans(1rem, $weight: 400)
    line-spaceing: 1.428rem
</style>
