<template>
  <text font-family="Roboto-Medium, Roboto" font-weight="400"
    :fill="color"
    :font-size="fontSizeValue"
    :line-spacing="lineSpaceingValue">

    <tspan :x="xValue" :y="yValue">
      {{text}}
    </tspan>
  </text>
</template>

<script>
export default {
  name: 'SvgTextDisplay',
  props: {
    color: { type: String, default: () => '#FB355D' },
    x: { type: Number, default: () => 0 },
    y: { type: Number, default: () => 0 },
    text: { type: String, default: () => 'LA 00.00 KA 00.00' },
    fontSize: { type: Number, default: () => 13 },
    lineSpaceing: { type: Number, default: () => 12 },
    trans: { type: Array, default: () => [0, 0] },
    zoom: { type: Number, default: () => 1 }
  },
  computed: {
    xValue () {
      return (this.x + this.trans[0]) * this.zoom
    },
    yValue () {
      return (this.y + this.trans[1]) * this.zoom
    },
    fontSizeValue () {
      return this.fontSize * this.zoom
    },
    lineSpaceingValue () {
      return this.lineSpaceing * this.zoom
    }
  }
}
</script>
