<template>
  <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" viewBox="0 0 11 10">
    <g :stroke="color || this.$store.state.colors.icon.default">
      <polyline points="1,5.4 3.4,8 10,1"/>
    </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('Check')
</script>

<style lang="sass">
svg.check
  enable-background:new 0 0 11 10
  height: .714rem
  width: .785rem

  g
    stroke-width: 2
    fill: none
</style>
