<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    class="chevron-down"
    viewBox="0 0 8 4">
      <g transform="translate(6.000000, 0.000000)"
        :fill="color || this.$store.state.colors.icon.default">
        <polygon points="1 -2 0 -1 1 2 0 5 1 6 4 2" transform="rotate(90.000000)"></polygon>
      </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('ChevronDown')
</script>

<style lang="sass">
svg.chevron-down
  enable-background:new 0 0 8 4
  height: .285rem
  width: .571rem

  g
    fill-rule: nonzero
    stroke-width: 1
</style>
