<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"
    viewBox="0 0 26 26"
    class="cross-arrows">
    <g :fill="color || this.$store.state.colors.icon.default">
      <polygon points="11.7,16.9 14.3,16.9 14.3,5.2 16.9,7.8 18.9,5.9 13,0.1 7.2,5.9 9.1,7.8 11.7,5.2"/>
      <polygon points="14.3,9.1 11.7,9.1 11.7,20.8 9.1,18.2 7.2,20.2 13,26 18.9,20.2 16.9,18.2 14.3,20.8"/>
      <polygon points="9.1,11.7 9.1,14.3 20.8,14.3 18.2,16.9 20.2,18.9 26,13 20.2,7.2 18.2,9.1 20.8,11.7"/>
      <polygon points="16.9,14.3 16.9,11.7 5.2,11.7 7.8,9.1 5.9,7.2 0.1,13 5.9,18.9 7.8,16.9 5.2,14.3"/>
    </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('CrossArrows')
</script>

<style lang="sass">
svg.cross-arrows
  enable-background: new 0 0 26 26
  height: 1.428rem
  width: 1.428rem
</style>
