<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"
    viewBox="0 0 16 20"
    class="export-icon">
    <g >
      <path :stroke="color || this.$store.state.colors.icon.default" d="M2,9h12c0.6,0,1,0.4,1,1v8c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1v-8C1,9.4,1.4,9,2,9z"/>
      <polygon :fill="color || this.$store.state.colors.icon.default" points="7,13 9,13 9,4 11,6 12.5,4.5 8,0 3.5,4.5 5,6 7,4"/>
    </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('ExportIcon')
</script>

<style lang="sass">
svg.export-icon
  enable-background: new 0 0 16 20
  height: 1.428rem
  width: 1.142rem

  path
    fill: none
    stroke-width: 2
</style>
