<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"
    viewBox="0 0 17 18"
    class="lupe">
    <g :fill="color || this.$store.state.colors.icon.default">
      <path d="M16.7,16.3l-3.4-3.7c1.1-1.4,1.8-3.1,1.8-4.9c0-4.2-3.4-7.7-7.5-7.7S0,3.4,0,7.7s3.4,7.7,7.5,7.7
        c1.6,0,3-0.5,4.3-1.4l3.5,3.7c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3C17.1,17.3,17.1,16.7,16.7,16.3z M7.5,2
        c3.1,0,5.6,2.5,5.6,5.7s-2.5,5.7-5.6,5.7S2,10.8,2,7.7S4.5,2,7.5,2z"/>
      <rect x="5" y="7.5" width="5" height="1"/>
      <rect x="7" y="5.5" width="1" height="5"/>
    </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('Lupe')
</script>

<style lang="sass">
svg.lupe
  enable-background: new 0 0 17 18
  width: 1.214rem
  height: 1.285rem
</style>
