<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"
    viewBox="0 0 19 17"
    class="rulers">
    <g :fill="color || this.$store.state.colors.icon.default">
      <rect x="1" y="4" width="3" height="1"/>
      <rect y="8" width="4" height="1"/>
      <rect y="12" width="4" height="1"/>
      <rect x="11" width="1" height="4"/>
      <rect x="15" width="1" height="4"/>
      <path d="M7,0h12v8H7V0z M9,2v4h8V2H9z"/>
      <path d="M0,0h8v17H0V0z M2,2v13h4V2H2z"/>
    </g>
  </svg>
</template>

<script>
import iconDefaults from './IconDefaults'
export default iconDefaults('Rulers')
</script>

<style lang="sass">
svg.rulers
  enable-background: new 0 0 19 17
  height: 1.214rem
  width: 1.357rem
</style>
