<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve"
    viewBox="0 0 26 26"
    class="waiting-icon">
    <g :fill="color || this.$store.state.colors.icon.default">
      <path d="M0,14.2l4-0.1c0.6,4.4,4.4,8,8.9,8s8.4-3.5,9.1-7.9h-2.1c-0.6,3.2-3.6,5.8-7,5.8s-6.3-2.5-6.8-5.8H10L5,9.2
        L0,14.2z"/>
      <path d="M7.5,6.1l1.4,1.3c1-0.6,1.9-1,2.8-1.1v-2C10.1,4.5,8.8,5.1,7.5,6.1z"/>
      <path d="M19.8,11.9h2.1c-0.2-1.5-0.8-2.9-1.8-4.2l-1.4,1.5C19.3,10.2,19.7,11,19.8,11.9z"/>
      <path d="M18.4,6c-1.4-1-2.8-1.6-4.2-1.7v2.1c0.9,0.1,1.8,0.5,2.8,1.1L18.4,6z"/>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'WaitingIcon',
  props: {
    color: { type: String }
  }
}
</script>

<style lang="sass">
svg.waiting-icon
  animation-name: rotate-circle
  animation-duration: 1.5s
  animation-iteration-count: infinite
  enable-background: new 0 0 26 26
  height: 1.857rem
  width: 1.857rem

@keyframes rotate-circle
  0%
    transform: rotate(0deg)
  2%
    transform: rotate(7.2deg)
  4%
    transform: rotate(14.4deg)
  6%
    transform: rotate(21.6deg)
  8%
    transform: rotate(28.8deg)
  10%
    transform: rotate(36.0deg)
  12%
    transform: rotate(43.2deg)
  14%
    transform: rotate(50.4deg)
  16%
    transform: rotate(57.6deg)
  18%
    transform: rotate(64.8deg)
  20%
    transform: rotate(72.0deg)
  22%
    transform: rotate(79.2deg)
  24%
    transform: rotate(86.4deg)
  26%
    transform: rotate(93.6deg)
  28%
    transform: rotate(100.8deg)
  30%
    transform: rotate(108.0deg)
  32%
    transform: rotate(115.2deg)
  34%
    transform: rotate(122.4deg)
  36%
    transform: rotate(129.6deg)
  38%
    transform: rotate(136.8deg)
  40%
    transform: rotate(144.0deg)
  42%
    transform: rotate(151.2deg)
  44%
    transform: rotate(158.4deg)
  46%
    transform: rotate(165.6deg)
  48%
    transform: rotate(172.8deg)
  50%
    transform: rotate(180.0deg)
  52%
    transform: rotate(187.2deg)
  54%
    transform: rotate(194.4deg)
  56%
    transform: rotate(201.6deg)
  58%
    transform: rotate(208.8deg)
  60%
    transform: rotate(216.0deg)
  62%
    transform: rotate(223.2deg)
  64%
    transform: rotate(230.4deg)
  66%
    transform: rotate(237.6deg)
  68%
    transform: rotate(244.8deg)
  70%
    transform: rotate(252.0deg)
  72%
    transform: rotate(259.2deg)
  74%
    transform: rotate(266.4deg)
  76%
    transform: rotate(273.6deg)
  78%
    transform: rotate(280.8deg)
  80%
    transform: rotate(288.0deg)
  82%
    transform: rotate(295.2deg)
  84%
    transform: rotate(302.4deg)
  86%
    transform: rotate(309.6deg)
  88%
    transform: rotate(316.8deg)
  90%
    transform: rotate(324.0deg)
  92%
    transform: rotate(331.2deg)
  94%
    transform: rotate(338.4deg)
  96%
    transform: rotate(345.6deg)
  98%
    transform: rotate(352.8deg)
  100%
    transform: rotate(360.0deg)
</style>
