<docs>
## This is the main component that includes the global stiles
</docs>

<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>

<style src="./styles/app.sass" lang="sass"></style>
