<template>
  <svg width="16.642rem" height="7.214rem" viewBox="0 0 233 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <text font-family="Roboto-Regular, Roboto" font-size="11" font-weight="normal" line-spacing="20" fill="#757B8C">
          <tspan x="1.46" y="17">100</tspan>
          <tspan x="7.64" y="47">50</tspan>
          <tspan x="13.82" y="77">0</tspan>
      </text>
      <path :d="`M28.5,${chart.y[1]} L28.5,7.664062`" stroke="#757B8C" stroke-linecap="square"></path>

      <path :d="`M${chart.x[0]},${chart.y[0]} L${chart.x[1]},${chart.y[0]}`" stroke="#383D4F" stroke-linecap="square"></path>
      <path :d="`M${chart.x[0]},${chartHeight * 0.5} L${chart.x[1]},${chartHeight * 0.5}`" stroke="#383D4F" stroke-linecap="square"></path>
      <path :d="`M${chart.x[0]},${chart.y[1]} L${chart.x[1]},${chart.y[1]}`" stroke="#757B8C" stroke-linecap="square"></path>

      <rect
        v-for="(value, index) in values"
        :key="index"
        :x="chart.x[0] + (barSpace * 0.1) + (barSpace * index)"
        :y="barY(value.percent)"
        :height="value.percent * chartHeight"
        :fill="(value.marked) ? '#FB355D' : '#383D4F'"
        :width="barWidth"></rect>

      <text font-family="Roboto-Bold, Roboto" font-size="9" font-weight="bold" letter-spacing="-0.4" fill="#FB355D">
          <tspan :x="markedPercent.x" :y="markedPercent.y">{{markedPercent.text}}%</tspan>
      </text>

      <text font-family="Roboto-Regular, Roboto" font-size="9" font-weight="normal" letter-spacing="-0.4"
        v-for="(value, index) in values"
        :key="index + 'legend'"
        :fill="(value.marked) ? '#DADCE1' : '#757B8C'">
        <tspan :x="chart.x[0] + (barSpace * 0.1) + (barSpace * index) " y="99">{{value.name}}</tspan>
      </text>
    </g>
  </svg>
</template>

<script>
import { findIndex } from 'lodash'

export default {
  name: 'Chart',
  props: {
    values: {
      type: Array,
      default: () => [
        {
          name: 'NX',
          percent: 0.055,
          marked: false
        },
        {
          name: 'N0',
          percent: 0.195,
          marked: false
        },
        {
          name: 'N1',
          percent: 0.5,
          marked: false
        },
        {
          name: 'N2',
          percent: 0.95,
          marked: true
        },
        {
          name: 'N3',
          percent: 0.13,
          marked: false
        }
      ]
    }
  },
  computed: {
    chartWidth () { return this.chart.x[1] - this.chart.x[0] },
    chartHeight () { return this.chart.y[1] - this.chart.y[0] },
    barSpace () { return this.chartWidth / this.values.length },
    barWidth () { return this.barSpace * 0.34 },
    markedValueIndex () { return findIndex(this.values, { marked: true }) },
    markedPercent () {
      return {
        x: (this.chart.x[0] + (this.barSpace * 0.02) + (this.barSpace * this.markedValueIndex)),
        y: this.barY(this.values[this.markedValueIndex].percent) - 6,
        text: this.values[this.markedValueIndex].percent * 100
      }
    }
  },
  methods: {
    barY (percent) { return (this.chartHeight - (this.chartHeight * percent)) + this.chart.y[0] }
  },
  data () {
    return {
      chart: {
        x: [29.2, 233.5],
        y: [11.5, 83.5]
      }
    }
  }
}
</script>

<style lang="sass">
@import '../../styles/mixins'

svg
  +media-font
</style>
