<template>
  <div class="check-box">
    <div class="box">
      <check v-if="property.checked" color="#8D91A0" />
    </div>
    <div class="label">{{$tc(`properties.${property.key}`)}}</div>
  </div>
</template>

<script>
import Check from '../icons/Check'

export default {
  name: 'CheckBox',
  components: { Check },
  props: {
    property: { type: Object }
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/vars'

.check-box
  +d-flex($content: center)
  height: 2.857rem
  cursor: pointer

  .box
    +d-flex($justify: center, $items: center)
    background: #2D303E
    border: .071rem solid #2A2A2A
    border-radius: .142rem
    width: 2rem
    height: 2rem

  .label
    +font-sans(1.071rem, $line: 2rem)
    margin-left: 1.357rem
    color: #8D91A0
    height: 2rem
</style>
