<template>
  <div class="drop-down-select">
    <div class="box-label">{{$tc('labels.' + feature)}}</div>
    <div @click="toggleDropdown()" class="select-outer">
      <span class="select-text">
        {{$tc(`labelOptions.${feature}.${tagValue}`)}}
      </span>
      <chevron-down />
    </div>
    <div v-if="isOpen" class="drop-down">
      <div class="drop-down-inner">
        <div class="option"
          v-for="(option, key) in notSelected"
          :key="key"
          @click="() => selectOption(key)">
            <span>{{$tc(`labelOptions.${feature}.${key}`)}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ChevronDown } from '../icons'
import { omit } from 'lodash'

export default {
  name: 'DropDownSelect',
  components: { ChevronDown },
  props: {
    feature: { type: String },
    dropDown: {
      type: Object
    }
  },
  methods: {
    toggleDropdown () { this.$store.commit('toggleRightBarDropDown', this.$props.feature) },
    selectOption (featureValue) {
      this.$store.commit('changeResultFeature', { featureKey: this.featureType.tag, featureValue })
      this.toggleDropdown()
    }
  },
  computed: {
    isOpen () { return this.$store.state.rightBar.dropDownIsOpen === this.$props.feature },
    featureType () { return this.$store.state.features[this.$props.feature] },
    tagValue () { return this.$store.state.selectedResult[this.featureType.tag] },
    selected () { return this.featureType.opts[this.tagValue] },
    notSelected () {
      return omit(this.featureType.opts, this.tagValue)
    }
  }
}
</script>

<style lang="sass">
@import '../../styles/vars'

.drop-down-select
  +font-sans(.928rem)
  +flex(1, 0, auto)
  color: #8D91A0
  cursor: pointer

  &:nth-child(2)
    margin-left: .642rem

  .box-label
    margin-bottom: .571rem

  .select-outer
    +d-flex($items: center, $justify: space-between)
    background: #2D303E
    border: .071rem solid #2A2A2A
    border-radius: .142rem
    height: 2.857rem
    padding: .714rem 1rem .785rem 1.214rem

  .drop-down
    position: relative
    width: 100%

  .drop-down-inner
    +d-flex($direction: column)
    position: absolute
    background: #2D303E
    width: 100%
    border: .071rem solid #2A2A2A
    border-width: 0 .071rem .071rem .071rem
    border-radius: .142rem
    padding-left: 1.214rem
    padding-right: 1rem

  .option
    +d-flex($direction: column, $content: center)
    height: 2.857rem
    position: relative
    top: 0
    width: 100%
    z-index: 2
    overflow: hidden
    white-space: nowrap
    background: #2D303E

    &:before,
    &:after
      content: ''
      position: relative
      z-index: 1
      top: 1.428rem
      height: 1.428rem
      width: 100%
</style>
