<template>
  <div id="right-bar">
    <h2>Läsion</h2>
    <div v-if="this.$store.state.selectedResult && this.$store.state.selectedResult.display">
      <div class="row">
        <drop-down-select :drop-down="{}" feature="resultTypes" />
        <drop-down-select :drop-down="{}" feature="resultCategories" />
      </div>
      <div class="row">
        <drop-down-select :drop-down="{}" feature="resultSubCategories" />
      </div>
      <h3>{{$tc('property', 2)}}</h3>
      <div>
        <check-box
          v-for="property in this.$store.getters.propertiesChecked()"
          :key="property.key"
          :property="property" />
      </div>
      <h3>{{$tc('measurement', 2)}}</h3>
      <table>
        <tbody>
          <tr>
            <td>LA</td>
            <td>{{selectedResult.la}}</td>
          </tr>
          <tr>
            <td>KA</td>
            <td>{{selectedResult.ka}}</td>
          </tr>
          <tr>
            <td>{{$tc('rightBar.volume')}}</td>
            <td>{{selectedResult.volume}} mm<sup>3</sup></td>
          </tr>
          <tr>
            <td>SUV-Max</td>
            <td>{{selectedResult.SuvMax}}</td>
          </tr>
          <tr>
            <td>{{$tc('rightBar.suvVariance')}}</td>
            <td>{{selectedResult.suvVariance}}</td>
          </tr>
          <tr>
            <td>HU-Mean</td>
            <td>{{selectedResult.HuMean}}</td>
          </tr>
          <tr>
            <td>{{$tc('rightBar.huVariance')}}</td>
            <td>{{selectedResult.HuError}}</td>
          </tr>
        </tbody>
      </table>

      <h3>{{$tc('rightBar.lungStageConfidence')}}</h3>
      <chart :values="selectedResult.chartValues" />
    </div>
    <div v-else class="no-laesion"> Keine Läsion wird angezeigt</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DropDownSelect from './DropDownSelect'
import CheckBox from './CheckBox'
import Chart from './Chart'

export default {
  name: 'RightBar',
  components: { DropDownSelect, CheckBox, Chart },
  computed: mapGetters(['selectedResult', 'rightBarDropDowns'])
}
</script>

<style lang="sass">
@import '../../styles/vars'

#right-bar
  +d-flex($direction: column)
  +margin-padding(0, 3.428rem 2.285rem 1.428rem 1.642rem)
  background: #18191F
  color: #DADCE1
  overflow-y: hidden
  -ms-overflow-style: -ms-autohiding-scrollbar

  &:hover
    overflow-y: auto

  h2
    +font-sans(1.071rem, 500)
    +margin-padding(.214rem 0, 0)
    color: #8D91A0

  h3
    +font-sans(.928rem)
    +margin-padding(1.857rem 0 .571rem 0, 0)
    color: #8D91A0

  .row
    +d-flex($justify: space-between)
    margin-top: 1.428rem

  td
    +font-sans(1rem, $line: 2rem)
    color: #8D91A0

    &:first-child
      color: #757B8C
      padding-right: 1.571rem

  .no-laesion
    +margin-padding(1.428rem 0 0 0, 3.571rem 0)
    +font-sans(0.857rem, $align: center)
    color: #71767C;
    text-align: center;
    background: #2D303E
    border: 0.071rem solid #2A2A2A
    border-radius: 0.071rem

</style>
